<div class="container mt-5">
  <h3 class="text-center mb-3">Flight Status</h3>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="bg-dark text-white">
          <th scope="col">summary</th>
          <th scope="col">description</th>
          <th scope="col">Type</th>
          <th scope="col">complexity</th>
          <th scope="col">Estimated Hours</th>
          <th scope="col">cost</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">BA21532</th>
          <td>London</td>
          <td>Paris</td>
          <td>5</td>
          <td>10:00</td>
          <td>Departed</td>
        </tr>
        <tr>
          <th scope="row">BA54345</th>
          <td>London</td>
          <td>Amsterdam</td>
          <td>2</td>
          <td>11:45</td>
          <td>Departed</td>
        </tr>
        <tr>
          <th scope="row">BA62578</th>
          <td>London</td>
          <td>Rome</td>
          <td>3</td>
          <td>13:25</td>
          <td class="bg-danger text-white" data-toggle="tooltip" data-placement="left" title="Bad weather condition">Cancelled</td>
        </tr>
        <tr>
          <th scope="row">BA12895</th>
          <td>London</td>
          <td>Barcelona</td>
          <td>1</td>
          <td>18:45</td>
          <td>On time</td>
        </tr>
        <tr>
          <th scope="row">BA36546</th>
          <td>London</td>
          <td>Sydney</td>
          <td>5</td>
          <td>20:00</td>
          <td>On time</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>